/* TEXTS */

.bg-primary-datio {
    background-color: $main-color;
}

.bg-secondary-datio {
    background-color: $secondary-color;
}

.bg-success-datio {
    background-color: $datio-success;
}

.bg-warning-datio {
    background-color: $datio-warning;
}

.bg-danger-datio {
    background-color: $datio-danger;
}

.bg-none-datio {
    background: #eee;
}