<div class="container submenu">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/users']" routerLinkActive="active">{{'MENU.USERS'|translate}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/projects']" routerLinkActive="active">{{'MENU.PROJECTS'|translate}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/groups']" routerLinkActive="active">{{'MENU.GROUPS'|translate}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/teams']" routerLinkActive="active">{{'MENU.TEAMS'|translate}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/settings']" routerLinkActive="active">{{'MENU.SETTINGS'|translate}}</a>
        </li>
    </ul>
</div>
