<div class="text-center logo-container pointer">
    <h1 class="logo">Genera<span class="text-tertiary-datio">LIFE</span></h1>
</div>

<div class="menu-items">
    <div class="menu-item active pointer">
        <i class="fas fa-users"></i>
        <span>Users</span>
    </div>
    <div class="menu-item pointer">
        <i class="fas fa-users"></i>
        <span>Groups</span>
    </div>
    <div class="menu-item pointer">
        <i class="fas fa-users"></i>
        <span>Projects</span>
    </div>
</div>